<nav class="my-navbar navbar navbar-default navbar-fixed-top"> 
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      </button>
    </div>

    <%= link_to root_path, class: "navbar-brand" do %>
      <p><%= image_tag "licensecard2.jpg", class: "logo" %>ging freccs</p>            
    <% end %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-left"><%= image_tag "hunterxhunter.png", class: "hunterxhunter" %></li>
            <li><a href="https://www.facebook.com/Ging-Freccs-1705650286227105" target="_blank"><i class="fa fa-facebook"></i></a></li> 
            <li><a href="https://www.instagram.com/ging_freccs/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCBoEx2oXVPAenEUKL7KBgdA" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://github.com/sevmilber" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
  </div>
</nav>   